body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#mid {
    margin-bottom: 20px;
}

.red {
    color: red;
}
